@model IEnumerable<CPUTracking.Models.ContestDTO.CodeforcesContestList>
@{
    ViewData["Title"] = "All Contest List";
}
<h1>@ViewData["Title"]</h1>
<body>
    <h1>@ViewBag.Message</h1>
</body>
<hr />
<div class="searchBar d-flex justify-content-end">
    <a class="btn btn-primary" asp-action="UpdateContestListData">Update Contest List</a>
</div>
<hr />
<h1>@ViewBag.Message</h1>
<hr />
<div class="searchBar d-flex justify-content-end">
    <form asp-action="ContestList" asp-controller="ContestListInfo" class="form-inline">
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Choose Start date</span>
            </div>
            <input type="date" name="FromDate" class="form-control" placeholder="start date" id="start_date">
        </div>
        <hr />
        <input class="btn btn-info" type="submit" value="Submit">
    </form>
</div>
<hr />
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Contest Id</th>
            <th>Contest Name</th>
            <th>Rank</th>
            <th>Old Rating</th>
            <th>New Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewRating)
                </td>
            </tr>
        }
    </tbody>

</table>
