@model IEnumerable<CPUTracking.Models.Create.ClistRank>
@{
    ViewData["Title"] = "All Contest List";
}
<h1>@ViewData["Title"]</h1>
<hr />
@*<div class="searchBar d-flex justify-content-end">
    <div class="input-group input-group-sm" style="width: 350px;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Choose End date</span>
        </div>
        <input type="date" name="FromDate" class="form-control" placeholder="End date" id="end_date">
    </div>
    <hr />
    <a class="btn btn-primary" asp-action="UpdateContestDataForAllUser">Update Data</a>
</div>*@
<div>
    <p>@ViewBag.Msg</p>
    <p>@ViewBag.CoderName</p>
</div>
<form asp-controller="ClistTracking" asp-action="UpdateContestDataForAllUser" class="form-inline">
    <div class="input-group input-group-sm" style="width: 350px;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Choose Start date</span>
        </div>
        <input type="date" name="FromDate" class="form-control" placeholder="Start date" id="start_date">
    </div>
    <hr />
    <span>
        <input class="btn btn-info" type="submit" value="Update Data">
    </span>
</form>
<hr />
<div class="searchBar d-flex justify-content-start">
    @*<form asp-controller="ClistTracking" asp-action="FinalResult" class="form-inline">
            <div class="input-group input-group-sm" style="width: 350px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Choose Start date</span>
                </div>
                <input type="date" name="FromDate" class="form-control" placeholder="Start date" id="start_date">
            </div>

            <hr />

            <span>
                <input class="btn btn-info" type="submit" value="Generate Score">
            </span>
        </form>*@
    <form asp-controller="ClistTracking" asp-action="FinalResult" class="form-inline">
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Choose Start date</span>
            </div>
            <input type="date" name="FromDate" class="form-control" placeholder="Start date" id="start_date">
        </div>
        <br>
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Choose End date</span>
            </div>
            <input type="date" name="ToDate" class="form-control" placeholder="End date" id="end_date">
        </div>
        <hr />
        <span>
            <input class="btn btn-info" type="submit" value="Generate Score">
        </span>
    </form>
    <form asp-controller="ClistTracking" asp-action="DownloadTableData" class="form-inline">
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Choose Start date</span>
            </div>
            <input type="date" name="FromDate" class="form-control" placeholder="Start date" id="start_date">
        </div>
        <br>
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Choose End date</span>
            </div>
            <input type="date" name="ToDate" class="form-control" placeholder="Start date" id="start_date">
        </div>
        <hr />


        <span>
            <input class="btn btn-info" type="submit" value="Download Score">
        </span>
    </form>
</div>
<div class="searchBar d-flex justify-content-end">
    <form asp-controller="ClistTracking" asp-action="ContestList" class="form-inline">
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Handle Name</span>
            </div>
            <input type="text" name="HandleName" class="form-control" placeholder="Handle name" id="handle_name">
        </div>
        <br>
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Choose Start date</span>
            </div>
            <input type="date" name="FromDate" class="form-control" placeholder="Start date" id="start_date">
        </div>

        <br>
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Choose Start date</span>
            </div>
            <input type="date" name="FromDate" class="form-control" placeholder="Start date" id="start_date">
        </div>
        <hr />
        <input class="btn btn-info" type="submit" value="Submit">
    </form>
</div>
<hr />
@if (!string.IsNullOrEmpty(ViewBag.Msg))
{
    <div class="alert alert-success">@ViewBag.Msg</div>
}
<hr />
<h5>@ViewBag.CoderName</h5>
<hr />
<h5>@ViewBag.StartingMessage</h5>
<hr />
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Contest Id</th>
            <th>Contest Name</th>
            <th>Contest Date</th>
            <th>Rank</th>
            <th>Total Participant</th>
            <th>Percentage</th>
            <th>Point</th>
        </tr>
    </thead>
    <tbody>
        @{
            int total_score = 0,serialNo = 0;
        }
        @foreach (var item in Model)
        {
            total_score += item.Point;
            serialNo++;
            <tr>
                <td>@serialNo</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalParticipant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Point)
                </td>
            </tr>
        }
    <tr>
        <td class="text-secondary font-weight-bold" colspan="6">Total</td>
        <td><span>&#61;</span></td>
        <td class="text-dark font-weight-bold">@total_score</td>
    </tr>
    </tbody>

</table>
