@model IEnumerable<CPUTracking.Models.ContestDTO.ContestScore>
@{
    ViewData["Title"] = "Final Score List";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="searchBar d-flex justify-content-end">
    <form asp-controller="ClistTracking" asp-action="ContestList" class="form-inline">
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Handle Name</span>
            </div>
            <input type="text" name="HandleName" class="form-control" placeholder="Handle name" id="handle_name">
        </div>
        <div class="input-group input-group-sm" style="width: 350px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Choose Start date</span>
            </div>
            <input type="date" name="FromDate" class="form-control" placeholder="Start date" id="start_date">
        </div>

        <hr />
        <input class="btn btn-info" type="submit" value="Submit">
    </form>
</div>
<hr />
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Name</th>
            <th>Handle Name</th>
            <th>Session</th>
            @*<th>NumberOfContest</th>*@
            <th>
                @Html.ActionLink("NumberOfContest", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>TotalScore</th>
        </tr>
    </thead>
    <tbody>
        @{
            int serialNo = 0;
        }
        @foreach (var item in Model)
        {
            serialNo++;
            <tr>
                <td>@serialNo</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HandleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfContest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalScore)
                </td>
            </tr>
        }
    </tbody>

</table>
