@model IEnumerable<CPUTracking.Models.Create.CPUMember>
@{
    ViewData["Title"] = "Member List";
}


<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" asp-action="CreateMember">Create New</a>
<hr />
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
            <th>Name</th>
            <th>Email</th>
            <th>Session</th>
            <th>Clist Id</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClistId)
                </td>
                <td>
                    <a class="btn btn-info" asp-controller="ContestTracker" asp-action="PersonalContestDetails">View Details</a>
                    <a class="btn btn-primary" asp-action="EditMember" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteMember" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
