@model IEnumerable<CPUTracking.Models.Create.CPUMember>
@{
    ViewData["Title"] = "Member List";
}


<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<h1>@ViewData["Title"]</h1>
<div class="searchBar d-flex justify-content-start">
    <a class="btn btn-primary" asp-action="CreateMember">Create New</a>
</div>
<div class="searchBar d-flex justify-content-end">
    @*<form asp-action="UploadFile" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select Excel File:</label>
                <input type="file" name="file" id="file" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>*@
    @using (Html.BeginForm("UploadExcel", "MemberInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label for="file">Select Excel File:</label>
            <input type="file" name="file" id="file" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
     }
</div>

<hr />
<hr />
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>Name</th>
            <th>Email</th>
            <th>Session</th>
            <th>Clist Id</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClistId)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="MemberDetails" asp-route-id="@item.Id">View Details</a>
                    <a class="btn btn-info" asp-action="SyncContestData" asp-route-id="@item.Id">Sync Data</a>
                    <a class="btn btn-primary" asp-action="EditMember" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteMember" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
